//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 08 23:04:16 2017
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "L18" LEVEL 1;
COMP "b" LOCATE = SITE "F18" LEVEL 1;
COMP "c" LOCATE = SITE "D17" LEVEL 1;
COMP "d" LOCATE = SITE "D16" LEVEL 1;
COMP "e" LOCATE = SITE "G14" LEVEL 1;
COMP "f" LOCATE = SITE "J17" LEVEL 1;
COMP "g" LOCATE = SITE "H14" LEVEL 1;
COMP "b0" LOCATE = SITE "B18" LEVEL 1;
PIN b0_pin<0> = BEL "b0" PINNAME PAD;
PIN "b0_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "b1" LOCATE = SITE "D18" LEVEL 1;
PIN b1_pin<0> = BEL "b1" PINNAME PAD;
PIN "b1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "b2" LOCATE = SITE "E18" LEVEL 1;
PIN b2_pin<0> = BEL "b2" PINNAME PAD;
PIN "b2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "b3" LOCATE = SITE "H13" LEVEL 1;
PIN b3_pin<0> = BEL "b3" PINNAME PAD;
PIN "b3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "p0" LOCATE = SITE "G18" LEVEL 1;
PIN p0_pin<0> = BEL "p0" PINNAME PAD;
PIN "p0_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "p1" LOCATE = SITE "H18" LEVEL 1;
PIN p1_pin<0> = BEL "p1" PINNAME PAD;
PIN "p1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "p2" LOCATE = SITE "K18" LEVEL 1;
PIN p2_pin<0> = BEL "p2" PINNAME PAD;
PIN "p2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "dp" LOCATE = SITE "C17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

